<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="reports:open" type="Sitecore.Feature.Reports.Commands.Open,Sitecore.Feature.Reports"/>
      <command name="reports:run" type="Sitecore.Feature.Reports.Commands.Run,Sitecore.Feature.Reports"/>
      <command name="reports:refresh" type="Sitecore.Feature.Reports.Commands.Refresh,Sitecore.Feature.Reports"/>
      <command name="reports:selectall" type="Sitecore.Feature.Reports.Commands.SelectAll,Sitecore.Feature.Reports"/>
      <command name="reports:save" type="Sitecore.Feature.Reports.Commands.Save,Sitecore.Feature.Reports"/>
      <command name="reports:createlink" type="Sitecore.Feature.Reports.Commands.CreateLink,Sitecore.Feature.Reports"/>
      <command name="reports:email" type="Sitecore.Feature.Reports.Commands.Email,Sitecore.Feature.Reports" />
      <command name="reports:exportexcel" type="Sitecore.Feature.Reports.Commands.ExportExcel,Sitecore.Feature.Reports"/>
      <command name="reports:exportcsv" type="Sitecore.Feature.Reports.Commands.ExportCSV,Sitecore.Feature.Reports"/>
      <command name="reports:exportxml" type="Sitecore.Feature.Reports.Commands.ExportXML,Sitecore.Feature.Reports"/>
      <command name="reports:exporthtml" type="Sitecore.Feature.Reports.Commands.ExportHtml,Sitecore.Feature.Reports"/>
      <command name="reports:kick" type="Sitecore.Feature.Reports.Sessions.Kick,Sitecore.Feature.Reports"/>
      <command name="reports:setowner" type="Sitecore.Feature.Reports.Commands.SetOwner,Sitecore.Feature.Reports"/>
      <command name="reports:changecontentowner" type="Sitecore.Feature.Reports.Commands.SetContentOwner,Sitecore.Feature.Reports"/>
      <command name="reports:checkin" type="Sitecore.Feature.Reports.Commands.CheckIn,Sitecore.Feature.Reports" />
      <command name="reports:resetworkflow" type="Sitecore.Feature.Reports.Commands.ApplyWorkflow,Sitecore.Feature.Reports" />
      <command name="reports:openitem" type="Sitecore.Feature.Reports.Commands.OpenItem,Sitecore.Feature.Reports" />
    </commands>
    <controlSources>
      <source patch:after="source[7]" mode="on" namespace="Sitecore.Feature.Reports.Controls" assembly="Sitecore.Feature.Reports" />
    </controlSources>
    <settings>
      <!-- Query.MaxItems
					Specifies the max number of items in a query result set.
					If the number is 0, all items are returned. This may affect system performance, if a
					large query result is returned.
					This also controls the number of items in Lookup, Multilist and Valuelookup fields.
					Default value: 100
			-->
      <setting name="Query.MaxItems">
        <patch:attribute name="value">0</patch:attribute>
      </setting>
      <!-- Sitecore.Feature.Reports.AllowNonAdminDownloads
      By Default nonAdmin users can not download using the standard download.aspx page. Report module will offer them 
      to email the report as an attachement.
      If the download.aspx has been modified to allow downloads this can be set to true.-->
      <setting name="Sitecore.Feature.Reports.AllowNonAdminDownloads" value="true" />
      <setting name="Sitecore.Feature.Reports.ConfigurationDatabase" value="master" />
      <setting name="Sitecore.Feature.Reports.ReportsFolder" value="/sitecore/system/Modules/Reports/Reports" />
      <setting name="Sitecore.Feature.Reports.ParametersFolder" value="/sitecore/system/Modules/Reports/Configuration/Parameters" />
      <!-- Set this value if you wish to use static from email address
      <setting name="Sitecore.Feature.Reports.EmailFrom" value="user@mail.com" />-->
      <setting name="Sitecore.Feature.Reports.ParameterRegex" value="\{(\w*)\}" />
      <setting name="Sitecore.Feature.Reports.PageSize" value="30" />
      <setting name="Sitecore.Feature.Reports.MaxNoPages" value="40" />
      <setting name="Sitecore.Feature.Reports.ReportExportPrefix" value="Report - " />
    </settings>
    <ui>
      <references>
        <reference patch:after="reference[7]" desc="Sitecore.Feature.Reports.dll">/bin/Sitecore.Feature.Reports.dll</reference>
      </references>
    </ui>
  </sitecore>
</configuration>
