<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Module.Reports" description="Module Reports" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\ReportModule\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Module.Reports.Application" database="core" path="/sitecore/content/Applications/Advanced System Reporter" />
            <include name="Module.Reports.AppShortcut" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Programs/Advanced System Reporter" />
            <include name="Module.Reports.AppLayouts" database="core" path="/sitecore/layout/Layouts/Applications/Reports" />
            <include name="Module.Reports.FieldTypes" database="core" path="/sitecore/system/Field types/Reporter" />
            <include name="Module.Reports.ReportDefinitions" database="master" path="/sitecore/system/Modules/Reports" />
            <include name="Module.Reports.Commands" database="master" path="/sitecore/system/Tasks/Commands/Feature/Reports" />
            <include name="Module.Reports.Schedules" database="master" path="/sitecore/system/Tasks/Schedules/Feature/Reports" />
            <include name="Module.Reports.Templates" database="master" path="/sitecore/templates/Feature/Reports" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles"
                         physicalRootPath="$(sourceFolder)\feature\ReportModule\serialization\Module Reports.Roles" singleInstance="true" />
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature Report .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
